* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background-color: #f2f2f2;
  }
  .heading{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
  }
  .heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
  }
  .heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;

  }
  .container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    margin-bottom: 50px;
    align-items: center;
  }
  .about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }
  .about-image:hover img{
    transform: scale(1.2);
  }
  .about-content{
    flex:1;
  }
  .about-content h2{
    line-height: 1.5;
    color: #666;
  }
  .container {
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    justify-content: space-between;
  }
  
  .title {
    color: black;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  .center {
    margin-left: 100px;
    margin-right: auto;
  width: 50%;
  align-items: center;
}
.column {
  float: left;
  width: 33.3%;
  margin-left:130px;
  margin-bottom: 16px;
  justify-content: center;
}